@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,500;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Secular+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Permanent+Marker&family=Rock+Salt&display=swap');

$primary: #96cbcf;
$dark-primary: #065460;
$light-primary: #cce2e5;
$accent: #ffc80c;
$dark-accent: #c47d07;
$light-accent: #ffe799;

$light-box: rgba(230, 230, 230, 0.6);

$dark-grey: #333333;

$warning: red;

$normal-text: 'Red Hat Text', sans-serif;
$heading-text:'Secular One', sans-serif;
$logo-text:  'Permanent Marker', cursive;
